@font-face{
    font-family: "TrebuchetMS";
    src: url("../fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

/* https://www.fontsquirrel.com/fonts/web-symbols */
@font-face{
    font-family: "WebSymbolsRegular";
    src: url("../fonts/websymbols-regular-webfont.eot");
    src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/websymbols-regular-webfont.woff") format("woff"),
         url("../fonts/websymbols-regular-webfont.ttf") format("truetype"),
         url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Iniciamos estilos personalizados  */
/* Definición Variables
 definimos familia de fuente que voy a utilizar */
:root{
    --mx-width: 1240px;
    --color-primary: #37bcf9;
    --color-secondary: #fff;
    --color-backgroung: #DDD0C8;
    --color-bg: #a3805c;
    --color-button-ft: #a77544;
    --color-text-white: white;
    --color-text-wheat: wheat;
    --color-text-title: #00538c;
    --color-grey: gray;
    --color-box-shadow: #ddd;
    --color-box-shadow2: #393d3f;
    --color-focus: #555;
    --color-buscar:#007bff;
    --color-buscar-hover:#0056b3;
    --color-text-red: red;
}

/* Estilos Generales */
html{
    /* para un tema de accesibilidad y poder trabajar con rem */
    /* font-size: 10px; */
    /* Accesibilidad,... si el usuario nos cambia el tamaño de fuente */
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    /* background: url("../img/pattern.png"); */
    background-color: var(--color-backgroung);

}
/* wrap queremos que los elementos "hijos" dispongan de estos estilos */
.header__wrap, .content__wrap, .footer__wrap{
    /* le asignamo 1200 para vista de escritorio */
    width: var(--mx-width);
    margin: 0px auto; /* centra un elemento */
}

.texto__desplegable, .search__icon, .aside-box__icon, .social__icon{
    font-family: "WebSymbolsRegular";
}

/* Cabecera */
.header{
    width: 100%;
    height: 70px;
    background-color: var(--color-bg);
    font-family: "BebasNeue";
    color: var(--color-text-white);
}

.header__logo{
    float: left;
    width: 250px;
    height: 50px;
    background-color: var(--color-button-ft);
    text-align: center;
    margin-top: 8px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.logo__libros{
    width: 50px;
    height: 50px;
    animation: mostrarLibro 2s;
}
@keyframes mostrarLibro {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

.header__logo h3{
    display: block;
    float: right;
    font-size: 40px;
    margin-right: 65px;
    animation: mostrarTextoLogo 2s;
}
@keyframes mostrarTextoLogo {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
    }
}

/* efecto con keyframes - hover en el Logo */


/* efecto hover en Logo */


.header__logo .logo__gear{
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 4px;
    margin-left: 26px;

    /* A la hora de crear animación */

}

/* animación logo rueda */


/* efecto de desaparece y vuelve keyframes */


.header__menu{
    float: right;
    height: 70px;
    background: transparent;
}
.menu__list{
    /* Flex + aling/justify */
    font-size: 24px;
    margin-top: 20px;
}
.list__item{
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    margin: 0 2.4rem;
}
.item__texto{
    display: grid;
    grid-template-columns: 1fr 15px;
}

.list__submenu{
    /* position */
    display: grid;
    position: absolute;

    top: 100%;
    left: 2rem;
    
    min-width: 19rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-button-ft);
    box-shadow: 0px 13px 48px 0 rgba(0,0,0,15%);
    
    /* visibility, opacity y efecto */
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.submenu__item{
    /* efecto */
    opacity: 0;
    transform: translateX(3rem);
    transition: all 500ms ease-in-out;
}

/* efecto */
.submenu__item:nth-child(1){
    transition-delay: 100ms;
}
.submenu__item:nth-child(2){
    transition-delay: 200ms;
}
.submenu__item:nth-child(3){
    transition-delay: 300ms;
}
.submenu__item:nth-child(4){
    transition-delay: 400ms;
}
.list__item:hover>.list__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 99;
    left: 0;
}
.list__item:hover>.list__submenu>.submenu__item{
    /* efecto */
    opacity: 1;
    transform: translateX(0);
    /* visibility: visible; */
}
.submenu__title:hover{
    color: var(--color-text-wheat);
    /* transform: scale(1.1);     */
}

.submenu__item::after{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color-text-wheat);
    position: absolute;
    bottom: 0.5rem;
    opacity: 0;
    left: 35%;
    transition: all 300ms linear;
}
.submenu__item:hover:nth-child(1)::after{
    width: 57%;
    opacity: 1;
    left: 0%;
}
.submenu__item:hover:nth-child(2)::after{
    width: 55%;
    opacity: 1;
    left: 0%;
}
.submenu__item:hover:nth-child(3)::after{
    width: 37%;
    opacity: 1;
    left: 0%;
}
.submenu__item:hover:nth-child(4)::after{
    width: 43%;
    opacity: 1;
    left: 0%;
}

.texto__desplegable{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Maquetando el Banner */
.content__buscador{
    width: 95.5%;
    height: 100px;
    border: 10px solid var(--color-backgroung);
    box-shadow: 0px 0px 2px var(--color-gray);
    background: url("../img/biblioteca.png");
    background-position: 1920px 1080px;
    margin: 20px auto;
    overflow: hidden;
    animation: moverBiblioteca 15s infinite;
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    align-items: center;
}
@keyframes moverBiblioteca{
    0%{
        background-position: 1920px 1080px;
    }
    20%{
        background-position: 1720px 1280px;
    }
    40%{
        background-position: 2120px 1280px;
    }
    60%{
        background-position: 2120px 880px;
    }
    80%{
        background-position: 1720px 880px;
    }
    100%{
        background-position: 1920px 1080px;
    }
}
.buscador__text {
    border-radius: 25px 0px 0px 25px;
    grid-column: 2;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    outline: none;
}

.buscador__button {
    grid-column: 3;
    border-radius: 0px 25px 25px 0px;
    padding: 10px 20px;
    background-color: var(--color-bg);
    color: var(--color-text-white);
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.buscador__button:hover {
    background-color: var(--color-button-ft);
}

/* keyframes */

/* Tarjetas */
.cards__card{
    float: left;
    background-color: var(--color-bg);
    width: 200px;
    height: 330px;
    border: 1px solid var(--color-backgroung);
    box-shadow: 1px 1px 4px var(--color-box-shadow);
    overflow: hidden;
    margin: 22px;
    margin-top: 40px;
    cursor: pointer;
    color: var(--color-text-white);
}
/*efecto hover en las cartas */
.cards__card:hover{
    color: var(--color-text-wheat);
}

.cards__card::after{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color-text-wheat);
    position: absolute;
    bottom: -10000rem;
    opacity: 0;
    transition: all 300ms linear;
}

.cards__card:hover:nth-child(1)::after{
    top: 345px;
    width: 103px;
    opacity: 1;
    left: calc(100%/2 - 549px);
}
.cards__card:hover:nth-child(2)::after{
    top: 345px;
    width: 97px;
    opacity: 1;
    left: calc(100%/2 - 302px);
}
.cards__card:hover:nth-child(3)::after{
    top: 345px;
    width: 70px;
    opacity: 1;
    left: calc(100%/2 - 45px);
}
.cards__card:hover:nth-child(4)::after{
    top: 345px;
    width: 85px;
    opacity: 1;
    left: calc(100%/2 + 192px);
}
.cards__card:hover:nth-child(5)::after{
    top: 345px;
    width: 82px;
    opacity: 1;
    left: calc(100%/2 + 437px);
}

.cards__card:last-child{
    margin-right: 0px;
}

.cards__card .card__icon{
    display: block;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    margin-top: 5px;
    animation: mostrarImagen 2s;
}
@keyframes mostrarImagen {
    from{
        transform: translateY(-130%);
    }
    to{
        transform: translateY(0%);
    }
}

.card__animar{
    animation: mostrarTexto 3s;
}
@keyframes mostrarTexto {
    from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(0%);
    }
}


.card__category{
    width: 100%;
    height: 50px;
    font-family: "TrebuchetMS";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    transition: all 500ms;
}
/*efecto hover en la carta - modificamos card_category */



.card__description{
    font-family: "TrebuchetMS";
    text-align: center;
    font-size: 14px;
    
}


/* efecto de hover en la carta. tocamos card__description */


.clearfix{
    float: none;
    clear: both;
}

/* Barra lateral */
.content__lateral{
    width: 300px;
    min-height: 1070px;
    font-family: "TrebuchetMS";
    float: right;
    margin: 20px;
}
.lateral__title {
    display: block;
    width: auto;
    height: 45px;
    line-height: 49px;
    background: url("../img/pxgray.png"), var(--color-button-ft);
    box-shadow: 0px 1px 0px var(--color-box-shadow2),
      1px 2px 0px var(--color-box-shadow2), 2px 3px 0px var(--color-box-shadow2),
      3px 4px 0px var(--color-box-shadow2);
    font-size: 30px;
    font-family: "BebasNeue";
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .lateral__title:first-child {
    margin-top: 0px;
  }
  .lateral__search {
    width: 90%; /* en la estrategia de Grid / Flex revisar este punto */
    height: 30px;
    margin: 10px auto;
    background-color: var(--color-text-white);
    border: 1px solid var(--color-box-shadow2);
    border-radius: 5px;
    box-shadow: 1px 1px 4px var(--color-box-shadow2) inset;
  }
  
  .lateral__search input[type="text"] {
    width: 85%; /* para que quepa el botón */ /* en la estrategia de Grid / Flex revisar este punto */
    height: 30px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--color-box-shadow2);
    /* transición para el focus */
    transition: all 300ms;
  }
  /* obtengo foco en input[type="text"] */
  .lateral__search input[type="text"]:focus{
    font-weight: 700;
    color: var(--color-box-shadow2);
    /* background-color: var(--color-box-shadow); */
  }
  
  .lateral__search input[type="button"],
  .lateral__search input[type="text"] {
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent; /* para que no tenga fondo */
    border: none; /* para que se integre con el campo en sí */
    border-left: 1px solid var(--color-box-shadow2);
    color: var(--color-focus);
    padding-left: 6px;
  }
  .aside-box {
    width: 85%; /* en la estrategia de Grid / Flex revisar este punto */
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background-color: var(--color-text-white);
  }

  .lateral__login{
    background-color: var(--color-bg);
  }
  
  .lateral__login input[type="email"],
  .lateral__login input[type="password"] {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    width: 82%;
    height: 30px;
    border: 1px solid var(--color-box-shadow2);
    box-shadow: 1px 1px 1px var(--color-box-shadow2) inset;
    border-radius: 5px;
    padding-left: 30px;
    color: var(--color-gray);
  }
  .lateral__login input[type="email"]:focus,
  .lateral__login input[type="password"]:focus {
    color: var(--color-focus);
    box-shadow: 1px 1px 1px var(--color-grey) inset;
  }
  
  .lateral__login .lateral-box__user,
  .lateral__login .lateral-box__password {
    display: block;
    text-align: center;
    position: absolute;
    margin-left: 30px;
    margin-top: 6px;
    height: 30px;
  }
  .lateral__login .lateral-box__password {
    margin-left: 30px;
    margin-top: 22px;
    font-size: 20px;
  }
  
  .lateral__login input[type="submit"],
  .lateral__login input[type="button"],
  .lateral__login input[type="reset"],
  .lateral__login button {
    /* display: block; */
    float: left; /* en la estrategia de Grid / Flex revisar este punto */
    text-align: center;
    width: 33%; /* en la estrategia de Grid / Flex revisar este punto */
    height: 35px;
    margin-top: 20px;
    color: var(--color-text-white);
    /* Degradado desde abajo - to bottom --> hacia arriba */
    background-color: var(--color-button-ft);
    border: 1px solid var(--color-box-shadow2);
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: "TrebuchetMS";
    margin-left: 17px;
    margin-bottom: 20px;
    /* transición */
    transition: all 300ms;
  }
  .lateral__login input[type="submit"]:hover,
  .lateral__login input[type="button"]:hover,
  .lateral__login input[type="reset"]:hover,
  .lateral__login button:hover {
    /* le incluyo una sombra */
    box-shadow: 2px 2px 5px var(--color-button-ft);
  }
  
  .lateral__login a {
    display: block;
    text-decoration: none;
    margin-left: 18px;
    font-size: 14px;
    color: var(--color-focus);
  }
  .lateral__login a:hover {
    text-decoration: underline;
    color: #2f78bc;
  }

.lateral__social{
    height: 220px;
    color: var(--color-text-white);
    background-color: var(--color-bg);
}

.lateral__social a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lateral__social .social__overlay{
    display: block;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px var(--color-backgroung);
    position: absolute;
    padding: 5px;
    margin-left: 70px;
    margin-top: -60px;
    cursor: pointer;
    font-size: 20px;
}
.social__twitter:hover{
    color: var(--color-primary);
}

.social__facebook:hover{
    color: var(--color-buscar);
}

.social__youtube:hover{
    color: var(--color-text-red);
}

.lateral__sponsors{
    background-color: var(--color-bg);
    text-align: center;
    height: 360px ;
}
.lateral__sponsors>img{
    height: 120px;
}

/* Artículos */

.content__articles{
    float: left; /* es necesario flotarlo puesto que he incluido el div clearfix*/
    width: 860px;
    color: var(--color-text-white);
}

.content__articles h2{
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px; /* centra el texto */
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: url("../img/pxgray.png"), var(--color-button-ft);
    box-shadow: 0px 1px 0px var(--color-box-shadow2), 1px 2px 0px var(--color-box-shadow2), 2px 3px 0px var(--color-box-shadow2), 3px 4px 0px var(--color-box-shadow2);
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.articles__libros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.libros__article{
    width: 98%;
    height: auto;
    border: 1px solid var(--color-backgroung);
    margin: 0px auto;
    padding: 10px;
    font-family: "TrebuchetMS";
    background: var(--color-bg);
    box-shadow: 1px 1px 2px var(--color-box-shadow);
}

.libros__article h4{
    display: block;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
}
.libros__article h4 a{
    text-decoration: none;
}
.libros__article h4 a:hover{
    text-decoration: underline;
}

.article__imagen{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    width: 50%;
    height: 25%;
}

.article__datos{
    float: right;
    background-color: var(--color-button-ft);
    height: 30px;
    line-height: 30px;
    margin: -10px;
    padding: 4px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px; /* esquina inferior izq 5px */
}
.article__datos span{
    margin: 6px;
}

.article__datos p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.content__miembros{
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation: mostrarTexto 3s;
}
@keyframes mostrarTexto {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0%);
    }
}

.miembros__card{
    float: left;
    background-color: var(--color-bg);
    width: 22,33870967741935;
    height: 22,33870967741935;
    border: 1px solid var(--color-backgroung);
    box-shadow: 1px 1px 4px var(--color-box-shadow);
    overflow: hidden;
    margin: 22px;
    margin-top: 40px;
    cursor: pointer;
    color: var(--color-text-white);
    border-radius: 15px;
}
.miembros__card:first-child{
    margin-left: 0px;
}
/*efecto hover en las cartas */
.miembros__card:hover{
    color: var(--color-text-wheat);
}

.miembros__card:last-child{
    margin-right: 0px;
}

.miembros__card .card__fotos{
    display: block;
    height: 175px;
    width: 175px;
    margin: 0px auto;
    margin-top: 15px;
    border-radius: 20px;
}

.card__name{
    font-family: "TrebuchetMS";
    text-align: center;
    font-size: 20px;
}
/* FOOTER */
.content__footer{
    width: 100%;
    height: 470px;
    background-color: var(--color-bg);
    color: var(--color-bg);
    overflow: hidden;
}
.footer__wrap > div{
    float: left;
    width: 25%;
    height: 370px;
    margin: 40px;
    margin-left: 3.225806451612903%;
    margin-right: 3.225806451612903%;
    text-align: center;
    color: var(--color-text-white);
    font-family: "TrebuchetMS";
}

.footer__list>.listfooter_item a{
    text-decoration: none;
    color: var(--color-text-white);
    border-bottom: 1px solid var(--color-backgroung);
}
.content__footer a:hover{
    font-size: 110%;
    text-decoration: none;
    color: var(--color-text-wheat);
    border-bottom: 1px solid var(--color-text-wheat);
}

.footer__title{
    display: block;
    background: url("../img/pxgray.png"), var(--color-button-ft);
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 55px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.footer__list{
    text-align: left;
    margin: 20px;
    font-size: 25px;
}
.footer__list li{
    margin-top: 10px;
    padding: 5px;
}
.footer__list li a{
    display: block;
    height: 40px;
    /* transición */
}
/* efecto de hover sobre cada li */


.content__footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid var(--color-text-white);
    box-shadow: 0px 0px 5px var(--color-gray);
}

.content__footer img{
    margin-bottom: 15px;
}
.footer__browsers img{
    width: 45px;
}

/* Animaciones y Transiciones
- Propiedad Animation
- Keyframes
- Transitions 

Indico cada punto aplicado como efecto*/
